form {
    text-align: center;
}
h1 {
    color: blue;
    text-align: center;
}
fieldset{
    text-align: center;
}
input {
    align-items: center;
}
label{
    color: beige;
}
#body{
   background-color: black;
}
.fieldset
{
    border: 2px solid blue; 
    border-style: dotted; 
    border-bottom-width: 5px;
}